<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WaterFlow | Home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tabbed-home.js') }}"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href=" {{ url_for('static', filename='styles/home.css') }} ">
</head>

<body>
  <div class="w3-bar w3-black">
    <p id="welcome_text"></p>
    <form onclick="return false;" id="form" class="form" style="align-items: center;">
      <label for="device_text">Chọn thiết bị:</label>
      <select name="devices" id="devices" class="w3-button w3-red">
        <option value="-">-</option>
      </select>
    </form><br>
    <div id="button_container">
      <button class="w3-bar-item w3-button tablink w3-red" onclick="openTab(event, 'dateview')">Xem ngày</button>
      <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'monthview')">Xem tháng</button>
    </div>
  </div>
  <div id="dateview" class="w3-container city">
    <form onclick="return false;" id="datepicker" class="form" style="width: 100%;">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <div class="datepicker">
          <label for="date">Lấy dữ liệu của ngày:</label>
          <div class="date_container">
            <input type="number" id="numdate" name="date" min="1" max="31" class="w3-button">
            <input type="number" id="nummonth" name="month" min="1" max="12" class="w3-button">
            <input type="number" id="numyear" name="year" min="1900" max="3000" class="w3-button">
          </div>
        </div>
        <input type="submit" value="Lấy dữ liệu" onclick="handleDatepicker()" class="w3-button" style="width: 30vw; border: 1px solid black;"/>
      </div>
      <div class="container">
    </form>
    <canvas id="myChart" style="width: 100%; max-width: 600px; height: 50vh"></canvas>
    <div class="data" id="data">
      <div id="waterused"></div>
      <div id="estimated"></div>
    </div>
  </div>
  </div>
  <div id="monthview" class="w3-container city" style="display: none;">
    <h1>monthview-placeholder</h1>
  </div>
</body>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

</html>